{% extends 'home.html' %}


{% load staticfiles %}
{% load static %}

<html>
<head>
    <title>Cushyrooms - Buy/Sell/Rent in Solan</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>


<!---Above is Header Part after thsi add any below part-->

<!--- Adding Css background-->
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}



<body>
    {% block body %}
        <div style="background-image: url(&quot;{% static 'assets/img/final-01.jpg' %}&quot;);background-position: center;background-size: cover;background-repeat: no-repeat;overflow: hidden">
            <div class="container" style="padding-top: 100px;padding-bottom: 150px">
                {% block content %}
                {% endblock %}
            </div>
        </div>

    {% endblock %}
</body>
 </html>