{% extends 'my_account.html' %}
{% load static %}
{% block title %}Location Update{% endblock %}
{% load staticfiles %}
{% block content1 %}
{% comment %} <div class="margin-auto text-center">
	<img src="{% static 'images/logow.png'%}" style="width:140px" alt="Pinetown Logo"/>
</div> {% endcomment %}
<br>
<div class="row" style="margin-left:0px; margin-right: 0px;">
	<div class="col-md-3"></div>
	<div class="col-xs-12 col-md-6">
		<div class="card">

			<div class="card-body card-block">
				<form action="#" method="post" enctype="multipart/form-data" class="form-horizontal">

					{% csrf_token %}
					<div class="text-center" style="color: blue;">
						<div><label for="label" class=" form-control-label"><h4><b> Location Update </b></h4></label></div>
					</div>					
					<br>

					<div class="row form-group">
						<div class="col col-md-3"><label for="id_state" class=" form-control-label">Select State</label></div>
						<div class="col-12 col-md-9">
							<select name="state" id="id_state" class="form-control" required>
								<option value="">Select State</option>
								{% for state in states %}
								<option value="{{state.id}}">{{state.name}}</option>
								{% endfor %}      
							</select>
						</div>
					</div>

					<div class="row form-group">
						<div class="col col-md-3"><label for="id_city"  class=" form-control-label">Select City</label></div>
						<div class="col-12 col-md-9">
							<select name="city" id="id_city" class="form-control" required>
								<option value="0">Select City</option>
							</select>
						</div>
					</div>	

					<div class="row form-group">
						<div class="col col-md-3"><label for="id_location" class=" form-control-label">Select Location</label></div>
						<div class="col-12 col-md-9">
							<select name="location" id="id_location" class="form-control" required>
								<option value="0">Select Location</option>   
							</select>
						</div>
					</div>
					<div class="row">
					<div class="col-xs-3 col-sm-3"></div>
					<div class="col-xs-6 col-sm-6 text-center">
						<button type="submit" name="submit" class="btn btn-success" >Submit</button>
					</div>
					<div class="col-xs-3 col-sm-3"></div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script type="text/javascript">
	$("#id_city").prop('disabled',true);

    $("#id_state").on('change',function(){
        text1 = $('#id_state').val();
        if(text1===""){
            $("#id_city").prop('disabled',true);
            $("#id_city").empty()
            $("#id_city").append('<option value="">Select City</option>');

        }
        else{
            $.ajax({
                type: "POST",
                url: "{%url 'api_cities'%}",
                data: {'state':text1,csrfmiddlewaretoken:'{{ csrf_token }}'},
                success: function(cities){
                    $("#id_city").prop('disabled',false);
                    $("#id_city").empty()
                    $("#id_city").append('<option value="">Select City</option>');
                    for(city in cities){
                        $("#id_city").append('<option value="'+cities[city]['id']+'">'+cities[city]['name']+'</option>');
                    }
                }
            });
        }
    });

    $("#id_location").prop('disabled',true);
    $("#id_city").on('change',function(){
        text = $('#id_city').val();
        if(text===""){
            $("#id_location").prop('disabled',true);
            $("#id_location").empty()
            $("#id_location").append('<option value="">Select Location</option>');
        }
        else{
            $.ajax({
                type: "POST",
                url: "{% url 'api_locations' %}",
                data: {'city':text,csrfmiddlewaretoken:'{{ csrf_token }}'},
                success: function(locas){
                    $("#id_location").prop('disabled',false);
                    $("#id_location").empty()
                    $("#id_location").append('<option value="">Select Location</option>');
                    for(loca in locas){
                        $("#id_location").append('<option value="'+locas[loca]['id']+'">'+locas[loca]['name']+'</option>');
                    }
                }
            });
        }
    });
</script>

{%endblock%}