{% extends 'base_accounts.html' %}

{% load static %}
{% load staticfiles %}
{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">  
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'assets/css/Customizable-Background--Overlay.css' %}">  
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block title %}Sign up to CushyRooms {% endblock %}

{% block content %}

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Log in</h3>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>
            <div class="nav-wrapper container1 ">
             <!-- Google Login added here-->
             <br>
              <a href="{% url 'social:begin' 'google-oauth2' %}"class="google btn" ><i class="fa fa-google fa-fw"></i>  Google Login</a>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="{% url 'social:begin' 'facebook' %}" class="fb btn"><i class="fa fa-facebook fa-fw"></i>Facebook Login</a>
            </div>    
          </div>
          <div class="card-footer text-muted text-center">
            New to CushyRooms? <a href="{% url 'signup' %}">Sign up</a>
          </div>
        </div>
        <div class="text-center py-2">
          <small>
            <a href="{% url 'password_reset' %}" class="text-muted">Forgot your password?</a>
          </small>
        </div>
      </div>
    </div>
  </div>
{% endblock %}