{% extends 'main/templates/base.html' %}
{% load static %}
{% load staticfiles %}
{%block title%}{{title}}{%endblock%}

{%block content%}
<div class="text-center">
	<img src="{% static 'assets/img/Asset4-1.png' %}" style="width:140px" />
	
</div>
<br>
<br>

<div class="row" style="margin-left:0px; margin-right: 0px; ">
	<div class="col-md-4"></div>
	<div class="col-xs-12 col-md-4">

		<div class="card">
			<div class="card-header {{background}}">
				<strong class="card-title text-light">{{head}}</strong>
			</div>
			<div class="card-body">
			<p class="card-text ">{% autoescape off %}{{body}}{% endautoescape %}</p>
				</div>
			</div>
		</div>
	</div>



{%endblock%}
{%block script%}
<script type="text/javascript">
	var delay = 5000; 
	setTimeout(function(){ window.location = "https://pinetown.in"; }, delay);
</script>
{%endblock%}