{% extends 'main/templates/base.html' %}
{% load static %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block stylesheet %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    {% comment %} <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}"> 
    <link rel="stylesheet" href="{% static 'profile/css/Customizable-Background--Overlay.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/Team-Boxed.css'%}">

    <style type="text/css">
        .ch{
            padding-top: 20px;
        }

        .act{
            color: blue;
        }
    </style>
{% endblock %}

{% block title %}My account {% endblock %}

{% block body %}

<nav class="navbar navbar-light navbar-expand-md sticky-top" style="background-color: black; color: white;">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a class="nav-link" href="{% url 'my_account'%}" style="color: white;" ><span id="prof">Edit My Profile</span></a></li>
            <li><a class="nav-link" href="{% url 'my_uploads' %}"  style="color: white;"><span id="upload">My Uploads</span></a></li>
            <li><a class="nav-link" href="{% url 'contact_us' %}" style="color: white;"><span id="cont">Contact PineTown</span></a></li>
        </ul>
    </div>
</nav>
{% block content1 %}{% endblock %}
{% endblock %}
{% block script %}
<script src="{% static 'about_us/js/jquery.min.js' %}"></script>
<script src="{% static 'about_us/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $('.row').addClass('ch');
    $('#prof').addClass('act');
</script>
<script>
$(document).on('click',function(){
$('.collapse').collapse('hide');
})
</script> 
{% endblock %}
