{% extends 'main/templates/base.html' %}
{% load static %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block stylesheet %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}"> 
    <link rel="stylesheet" href="{% static 'profile/css/Customizable-Background--Overlay.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/Team-Boxed.css'%}">
{% endblock %}

{% block title %}My account {% endblock %}




{% block content %}
<div class="align-items-start">
    <div class="container-fluid" style="height: autopx;">
        <div class="row" style="padding: 0px;">
            <div class="col-md-12 col-lg-3 col-xl-2" style="padding: 00px;">
                <ul class="list-group">
                    <li class="list-group-item active text-center" style="background-color: #a2a8ae;"><span>Edit My Profile</span></li>
                    <li class="list-group-item text-center" style="background-color: #a2a8ae;"><a href="{% url 'my_uploads' %}"><span>My Uploads</span></a></li>
                    <li class="list-group-item text-center" style="background-color: #a2a8ae;"><span>Contact PineTown</span></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-9 col-xl-10" style="height: auto;">
                <h1 class="text-center mb-auto" style="height: 65px;">&nbsp;Profile</h1>
                <div class="clearfix"></div>
                <form style="height: auto ;">
                    {% csrf_token %}

                    {% crispy formset formset.form.helper %}
                    {% if user.profile.verified == False %}
                    <div style="width: auto;height: auto;margin-top: 15px;margin-bottom: 15px;">
                        <div class="row text-center justify-content-center" style="width: auto;height: auto;margin-right: 0px;margin-left: 0px;">
                            <div class="col-auto" style="padding-left: 0px;padding-right: 0px;height: auto;width: auto;">
                                <p class="text-center" style="width: auto;height: auto;margin-bottom: 0px;">We will send you an OTP to veify your mobile and email.</p>
                            </div>
                        </div>
                    </div>
                        
                    <button type="submit" class="btn btn-primary">Verify Details</button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">Update</button>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'about_us/js/jquery.min.js' %}"></script>
<script src="{% static 'about_us/bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}
