{% extends 'main/templates/base.html' %}
{% load static %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block stylesheet %}
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}"> 
    <link rel="stylesheet" href="{% static 'profile/css/Customizable-Background--Overlay.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'profile/css/Team-Boxed.css'%}">
{% endblock %}

{% block title %}My account {% endblock %}




{% block content %}
<div class="align-items-start">
    <div class="container-fluid" style="height: autopx;">
        <div class="row" style="padding: 0px;">
            <div class="col-md-12 col-lg-3 col-xl-2" style="padding: 00px;">
                <ul class="list-group">
                    <li class="list-group-item active text-center" style="background-color: #a2a8ae;"><span>Edit My Profile</span></li>
                    <li class="list-group-item text-center" style="background-color: #a2a8ae;"><span>My Uploads</span></li>
                    <li class="list-group-item text-center" style="background-color: #a2a8ae;"><span>Contact PineTown</span></li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-9 col-xl-10" style="height: auto;">
                <h1 class="text-center mb-auto" style="height: 65px;">&nbsp;Profile</h1>
                <div class="clearfix"></div>
                <div class="row justify-content-center projects" 
            style="margin-left:0px;padding-bottom:0px;margin-right:0px;">
                
            
            
            {% for room in rooms %}
                    {%  for images in room.images_set.all %}
                    {% if forloop.counter == 1 %}
                    <div class="col-sm-6 col-lg-4 item" onclick="location.href='{% url "room_detail" room.id images.id %}'" 
                        style="height:auto;width:auto;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;
                            max-width:251px;margin:25px;margin-right:25px;margin-left:25px;min-width:auto;margin-top:25 px;
                            margin-bottom:25px;min-height:auto;">
                        <img class="img-fluid" 
                        style="height:auto;width:auto;max-height:250px;min-width:250px;min-height:250px;max-width:250px;"
                        src="{{ images.image.url }}"  >
                       
                        <p class="description" style="color:rgb(38,39,39);font-size:24px;"><strong>₹{{ room.price }}</strong>/month</p>
                        
                        <p class="description"><i class="fa fa-map-marker"></i>&nbsp; &nbsp;{{room.locality}}</p>
                        
                        <p class="description" style="margin-top:0px;"><i class="fa fa-bed"></i>&nbsp; &nbsp;{{ room.number_of_rooms }} Room</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
                
                {% for room in pgs %}
                    {%  for images in room.imagespg_set.all %}
                    {% if forloop.counter == 1 %}
                    <div class="col-sm-6 col-lg-4 item" onclick="location.href='{% url "pg_view" room.id images.id %}'" 
                        style="height:auto;width:auto;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;
                            max-width:251px;margin:25px;margin-right:25px;margin-left:25px;min-width:auto;margin-top:25 px;
                            margin-bottom:25px;min-height:auto;">
                        <img class="img-fluid" 
                        style="height:auto;width:auto;max-height:250px;min-width:250px;min-height:250px;max-width:250px;"
                        src="{{ images.image.url }}"  >
                       
                        <p class="description" style="color:rgb(38,39,39);font-size:24px;"><strong>₹{{ room.price }}</strong>/month</p>
                        
                        <p class="description"><i class="fa fa-map-marker"></i>&nbsp; &nbsp;{{room.locality}}</p>
                        
                        <p class="description" style="margin-top:0px;"><i class="fa fa-bed"></i>&nbsp; &nbsp;{{ room.number_of_rooms }} Room</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
                    
            </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'about_us/js/jquery.min.js' %}"></script>
<script src="{% static 'about_us/bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}
