{% extends 'my_account.html' %}
{% block title %} Past Orders {% endblock %}
<body>
{% load static %}
{% block stylesheet %} 
  <link rel="stylesheet" href="{% static 'css/cart.css' %}">
<link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">


    <link rel="stylesheet" href="{% static 'assets/css/Projects-Clean-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Projects-Clean.css' %}">
{% endblock %}

{% load static %}

{% block content1 %}
<br>
<div align="center">
    <h2>Your Past Orders</h2>
</div>

{% comment %} <div style="padding-left:5%;"> {% endcomment %}
{% if flag1 %}
<div class="projects-clean">
  <div class="container align-items-center align-content-center align-self-center">
    <div class="row justify-content-center projects" 
      style="margin-left:0px;padding-bottom:0px;margin-right:0px;">
    {% for order in order_list %}
      <div class="col-sm-6 col-lg-4 item" onclick="location.href=#" 
        style="height:auto;width:auto;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;
        max-width:251px;margin:25px;margin-right:25px;margin-left:25px;min-width:auto;margin-top:25 px;
        margin-bottom:25px;min-height:auto;">
        <h3><a href="{% url 'deliveredOrders' order.myid %}">{{order.index}}. Order {{order.order.order_no}}</a></h3>
        <div style="padding-left:5%;">
        <h5><b>Shop : </b>{{order.shop.name}}</h5>
        <h5><b>Status : </b>{{order.status}}</h5>
        <h5><b>Location : </b>{{order.location}}</h5>
        <h5><b>Amount : </b>{{order.order_amount}}</h5>
        <h5><b>Ordered At : </b>{{order.ordered_at}}</h5>
        <li>{% if not order.order.processed and not order.order.cancelled %}
        </li><li><button type="button" class="btn btn-danger" onclick='location.href="{% url 'deleteOrderByUser' order_id=order.myid %"'>Cancel Order</button>
        {% endif %}</li>
        {% comment %} <li>{% ifequal order.status 'processed' %}
        <button type="button"><a href="{% url 'deleteOrderByUser' order_id=order.myid %}">Delete Your Order</a></button>
        {% endifequal %}</li> {% endcomment %}
        <br>
      </div>
    </div>
    {% endfor %}
                    
    </div>
  </div>
</div>
{% comment %} {% endif %} {% endcomment %}
{% comment %} {% for order in order_list %}
    <h3><a href="{% url 'deliveredOrders' order.myid %}">{{order.index}}. Order {{order.order.order_no}}</a></h3>
    <div style="padding-left:5%;">
    <h5><b>Shop : </b>{{order.shop.name}}</h5>
    <h5><b>Status : </b>{{order.status}}</h5>
    <h5><b>Location : </b>{{order.location}}</h5>
    <h5><b>Amount : </b>{{order.order_amount}}</h5>
    <h5><b>Ordered At : </b>{{order.ordered_at}}</h5>
        <li>{% ifequal order.status 'not processed' %}
        <button type="button"><a href="{% url 'deleteOrderByUser' order_id=order.myid %}">Cancel Your Order</a></button>
        {% endifequal %}</li>
       <li>{% ifequal order.status 'processed' %}
        <button type="button"><a href="{% url 'deleteOrderByUser' order_id=order.myid %}">Delete Your Order</a></button>
        {% endifequal %}</li> {%
        <br>
    </div> {% endcomment %}



{% comment %} {% endfor %} {% endcomment %}
    {% else %}
    <h4>You haven't ordered anything yet.</h4>
    {% endif %}
    {% if order_list.has_other_pages %}
  <ul class="pagination">
    {% if order_list.has_previous %}
      <li><a href="?page={{ order_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in order_list.paginator.page_range %}
      {% if order_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if order_list.has_next %}
      <li><a href="?page={{ order_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
</div>
<br>

{% if flag2 %}
<div align="center">
    <h2>Your Shop Orders</h2>
</div>
<div class="projects-clean">
  <div class="container align-items-center align-content-center align-self-center">
    <div class="row justify-content-center projects" 
      style="margin-left:0px;padding-bottom:0px;margin-right:0px;">
    {% for order in shop_orders %}
      <div class="col-sm-6 col-lg-4 item" onclick="location.href=#" 
        style="height:auto;width:auto;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;
        max-width:251px;margin:25px;margin-right:25px;margin-left:25px;min-width:auto;margin-top:25 px;
        margin-bottom:25px;min-height:auto;">
        <h3><a href="{% url 'deliveredOrders' order.myid %}">{{order.index}}. Order {{order.order.order_no}}</a></h3>
        <div style="padding-left:5%;">
        <h5><b>User : </b>{{order.customer}}</h5>
        <h5><b>Status : </b>{{order.status}}</h5>
        <h5><b>Location : </b>{{order.location}}</h5>
        <h5><b>Amount : </b>{{order.order_amount}}</h5>
        <h5><b>Ordered At : </b>{{order.ordered_at}}</h5>
        <li>{% if not order.order.processed and not order.order.cancelled %}
        <button type="button" class="btn btn-danger" onclick='location.href="{% url 'deleteOrderByShop' order_id=order.myid %}"'>Cancel Order</button>
        </li><li>  <button type="button" class="btn btn-success" onclick='location.href="{% url 'makeProcessed' order_id=order.myid %}"'>Process It</button>
        {% endif %}</li>
        <li>{% if order.order.processed and not order.order.completed %}
        </li><li><button type="button" class="btn btn-danger" onclick='location.href="{% url 'deleteOrderByShop' order_id=order.myid %}"'>Cancel Order</button>
        </li><li><button type="button" class="btn btn-primary" onclick='location.href="{% url 'makeCompleted' order_id=order.myid %}"'>Completed</button>
        </li><li><button type="button" class="btn btn-success" onclick='location.href="{% url 'makeDelivered' order_id=order.myid %}"'>Delivered</button>
        {% endif %}</li>
        {% comment %} <li>{% ifequal order.status 'processed' %}
        <button type="button"><a href="{% url 'deleteOrderByUser' order_id=order.myid %}">Delete Your Order</a></button>
        {% endifequal %}</li> {% endcomment %}
        <br>
      </div>
    </div>
    {% endfor %}
                    
    </div>
  </div>
</div>
    {% comment %} <div align="center">
    <h2>Your Shop Orders</h2>
</div>
<div style="padding-left:5%;">
    {% if flag2 %}
    {% for order in shop_orders %}
<div>
    <h3><a href="{% url 'deliveredOrders' order.myid %}">{{order.myid}}. Order {{order.index}}</a></h3>
    <div style="padding-left:5%;">
        <h5><b>User : </b>{{order.customer}}</h5>
    <h5><b>Status : </b>{{order.status}}</h5>
    <h5><b>Location : </b>{{order.location}}</h5>
    <h5><b>Amount : </b>{{order.order_amount}}</h5>
    <h5><b>Ordered At : </b>{{order.ordered_at}}</h5>
        <li>{% ifequal order.status 'not processed' %}
        <button type="button"><a href="{% url 'deleteOrderByShop' order_id=order.myid %}">Cancel Order</a></button>
            &nbsp;
            &nbsp;
            <button type="button"><a href="{% url 'makeProcessed' order_id=order.myid %}">Process It</a></button>
        {% endifequal %}</li>
        <li>{% ifequal order.status 'processed' %}
        <button type="button"><a href="{% url 'deleteOrderByShop' order_id=order.myid %}">Cancel Order</a></button>
            <button type="button"><a href="{% url 'makeCompleted' order_id=order.myid %}">Completed</a></button>
            <button type="button"><a href="{% url 'makeDelivered' order_id=order.myid %}">Delivered</a></button>
        {% endifequal %}</li>
    </div>

</div>

{% endfor %} {% endcomment %}
    {% else %}
    <h4>You haven't got any orders yet.</h4>
    {% endif %}
</div>
{% comment %} {% endif %} {% endcomment %}

{% endblock %}
{% block script %}
<script type="text/javascript">
    $('.row').addClass('ch');
    $('#upload').addClass('act');
</script>
{% endblock%}