{% extends 'base_accounts.html' %}
{% load staticfiles %}



<!---Above is Header Part after thsi add any below part-->

<!--- Adding Css background-->
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

<body>
    

{% block content %}
<body>
        
        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'includes/form.html' %}
          <button type="submit" class="btn btn-primary">Create an account</button>
        </form>
        <div class="card-footer white text-black text-center">
                Already have an account? <a href="{% url 'login' %}">Log in</a>
             </div>
         
            </body>
{% endblock %}


</body>
</html>