{% extends 'main/templates/base.html' %}
{% load static %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block title %}My account {% endblock %}




{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <form method="post" enctype="multipart/form-data" style="text-align: center" class="uniForm" id="post_form" action="" >
                {% csrf_token %}
                

                {% load crispy_forms_tags %}
                {% crispy form %}
                
                {{ imageform.management_form }}
                {% for field in imageform %}
                    {% if forloop.counter == 1 %}
                        <h6>Bedroom:</h6>
                    {% endif %} 
                    {% if forloop.counter == 2 %}
                        <h6>Kitchen:</h6>
                    {% endif %}
                    {% if forloop.counter == 3 %}
                        <h6>Bathroom:</h6>
                    {% endif %}
                    {% for subform in field %}
                        {{ subform }}<br>
                    {% endfor %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">Update</button>
                
            </form>
        </div>
    </div>
</div>
    <div class="pt-changed"></div>
    <div class="pt-changed"></div>
{% endblock %}
