{% extends 'base.html' %}
{% block title %} All Room Details {% endblock %}
<body>
{% load static %}
{% block stylesheet %} 
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Projects-Clean-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Projects-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
{% endblock %}



<body>
    {% block body %}
    <p class="text-center text-secondary" style="padding-bottom:10px;"> {{rooms.count }} PG{%if rooms.count > 1 %}s{% endif %} found </p>
    <div class="projects-clean">
        <div class="container align-items-center align-content-center align-self-center">
            <div class="row justify-content-center projects" style="margin-left:0px;padding-bottom:0px;margin-right:0px;">
                {% for room in rooms %}
                    {%  for images in room.imagespg_set.all %}
                    {% if forloop.counter == 1 %}
                    <div class="col-sm-6 col-lg-4 item" onclick="location.href='{% url "pg_detail" room.id images.id %}'" style="cursor: all-scroll;height:388px;width:auto;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;max-width:251px;margin:25px;margin-right:25px;margin-left:25px;min-width:275 px;margin-top:25 px;margin-bottom:25px;min-height:388px;"><img class="img-fluid" src="{{ images.image.url }}" style="height:auto;width:auto;max-height:250px;min-width:235px;min-height:235px;max-width:250px;">
                        <p class="description" style="color:rgb(38,39,39);font-size:24px;"><strong>₹{{ room.price }}</strong>/month</p>
                        <p class="description"><i class="fa fa-map-marker"></i>&nbsp; &nbsp;{{room.locality}}</p>
                        <p class="description" style="margin-top:0px;"><i class="fa fa-bed"></i>&nbsp; &nbsp;{{ room.occupants_per_room}}/Room</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
                    
            </div>
        </div>
    </div>
    {% endblock %}

</body>


