{% extends 'base.html' %}
{% block title %} All Room Available {% endblock %}
<body>
{% load static %}
{% block stylesheet %} 
	{% comment %} <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}"> {% endcomment %}
	{% comment %} 
    Some Unknown error exsits here 
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
     {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'assets/css/Projects-Clean-1.css' %}"> {% endcomment %}
    {% comment %} <link rel="stylesheet" href="{% static 'assets/css/Projects-Clean.css' %}"> {% endcomment %}


{% endblock %}

{% load static %}
{% block body %}  
    <br>
    <div class="navbar navbar-light navbar-expand-md sticky-top" >
        <form method="POST">
        {% csrf_token %}
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Location
            <span class="caret"></span></button>
            <ul class="dropdown-menu">               
                {{form1}}                 
            </ul>            
        </div>
        <br>
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Price
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
                {{form2}}                 
            </ul>            
        </div>
        <br>
        <button type="go">Apply Filter</button>
        </form>       
    </div>
    <p class="text-center text-secondary" style="padding-bottom:10px;"> {{rooms.count }} room{%if rooms.count > 1 %}s{% endif %} found </p>
    <div class="projects-clean">
        <div class="container align-items-center align-content-center align-self-center">
            <div class="row justify-content-center projects" 
            style="margin-left:0px;padding-bottom:0px;margin-right:0px;">
                {% for room in page_obj %}
                    {%  for images in room.images_set.all %}
                    {% if forloop.counter == 1 %}
                    <div class="col-sm-6 col-lg-4 item filterDiv {{room.locality}} {{room.number_of_rooms}} {{room.price}} " data-id="shop={{shop.id}}" onclick="location.href='{% url "room_detail" room.id images.id %}'" 
                        style="height:auto;width:auto;padding-top:0px;padding-right:0px;padding-left:0px;padding-bottom:0px;
                            max-width:251px;margin:25px;margin-right:25px;margin-left:25px;min-width:auto;margin-top:25 px;
                            margin-bottom:25px;min-height:auto;">
                        <img class="img-fluid" 
                        style="height:auto;width:auto;max-height:250px;min-width:250px;min-height:250px;max-width:250px;"
                        src="{{ images.image.url }}"  >
                       
                        <p class="description" style="color:rgb(38,39,39);font-size:24px;"><strong>₹{{ room.price }}</strong>/month</p>
                        
                        <p class="description"><i class="fa fa-map-marker"></i>&nbsp; &nbsp;{{room.locality}}</p>
                        
                        <p class="description" style="margin-top:0px;"><i class="fa fa-bed"></i>&nbsp; &nbsp;{{ room.number_of_rooms }} Room</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                {% endfor %}
                    
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center ">
        <div class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">first</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="?page=1">first</a>
                    </li>
                {% endif %}

                <span class="current">
                    <li class="page-item active">
                       <a class="page-link" href="#"> {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}<span class="sr-only">(current)</span></a>
                    </li>
                </span>

                {% if page_obj.has_next %}                   
                    
                    <li class="page-item">
                       <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                    </li>
                    <li class="page-item">
                       <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last</a>
                    </li>
                {% endif %}
        </div>
        </ul>
    </nav>

{% endblock %}
{% block script %}
    <script src="{% static 'assets/js/jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'assets/js/infinite.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>

    <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {

    },
    offset: 'bottom-in-view',

    onBeforePageLoad: function () {
    $('.spinner-border').show();
    },
    onAfterPageLoad: function () {
    $('.spinner-border').hide();
    }

    });
    </script>

{% endblock %}
    
</body>



