{% extends 'base_accounts.html' %}
{% load static %}


{% block content %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info 
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    {% for room in rooms %}
                    <a href="#">
                        {% for images in room.images_set.all %}
                        {% if images.image %}
                            <img src="{{ images.image.url }}" class="img-responsive">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                        {% endfor %}
                    </a>
                    <h1>{{ room.locality }} <small>{{ room.price }}</small></h1>
                    <h2>{{ room.number_of_rooms }}</h2>
                    {% endfor %}
                </div>
            </div>
        </div> -->

        <!-- Right Rooms Info -->
        <div class="col-sm-8 col-md-9">


            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>All Rooms</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Location</th>
                            <th>Price</th>
                            <th>Drive In</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for room in rooms %}
                            <tr>
                                <td>{{ room.number_of_rooms }}BHK</td>
                                <td>{{ room.locality }}</td>
                                <td>{{ room.price }}</td> 
                                <td>{{ room.drive_in }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div> -->

    </div>

</div>

{% endblock %}