{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}
{% load static %}
{% block stylesheet %} 
    
    <link rel="stylesheet" href="{% static 'assets/css/Customizable-Background--Overlay.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Home/styles.css' %}">
{% endblock %}

<body>
{% block body %} 
<div style="overflow: hidden">
    <img src="{% static 'assets/img/final-01.jpg' %}" style="position: fixed;top: 0;width: 100%;height: 100%;background-size: cover;background-repeat: no-repeat">
    <div class="row" style="padding-top: 167px;padding-bottom: 45px;height: auto;width: auto;">
        <div class="col text-center  justify-content-xl-center">
            <p style="padding-bottom: 0px;color: rgb(255,255,255);font-size: 35px;width: 100%;letter-spacing: 0px;float: left"> Now rent your room at lightening speed in Solan<br> We're trying to get you covered!</p>
        </div>
    </div>
    <div class="row text-center d-flex justify-content-center" style="padding-bottom: 154px;padding-top: 0px;">
        <div class="row text-center d-xl-flex justify-content-xl-center" style="padding-bottom: 314px;padding-top: 0px;">
            <div class="col" style="padding-top: 0px;">
                <button 
                    class="btn btn-primary btn-lg border rounded" onclick="location.href='{% url "RentForm" %}'" type="button"
                    style="margin-right: 25px;background-color: rgb(255,255,255);color: rgb(87,95,193);
                    margin-left: 25px;margin-bottom: 25px;margin-top: 25px;">&nbsp;Rent Rooms&nbsp;</button>
               
                <button
                    class="btn btn-primary btn-lg border rounded" onclick="location.href='{% url "RentPGForm" %}'"  type="button" 
                    style="background-color: rgb(255,255,255);color: rgb(87,95,193);
                    margin-top: 25px;margin-right: 25px;margin-bottom: 25px;margin-left: 25px;">&nbsp; &nbsp; Rent Pgs &nbsp;&nbsp;</button>
            </div>
        </div>
    </div>

</div>

{% endblock %}


</body>

