{% extends 'index.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CushyRooms</title>
</head>
<body>
{% block form %}
    <h1 style="text-align: left; color: darkblue">Choose a Renting Option</h1><br>
    <a class="btn btn-primary btn-lg" style="margin: 10px" href="{% url 'RentForm' %}" role="button">Normal Rent</a><br>
    <a class="btn btn-primary btn-lg" style="margin: 10px" href="{% url 'RentPGForm' %}" role="button">PG Rooms</a>
{% endblock %}
{% block content %}
{% endblock %}
</body>
</html>