{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Rent Form</title>

</head>
{% block form %}
        <form method="post" enctype="multipart/form-data" style="text-align: center" id="post_form" action="" >
            {% csrf_token %}
            <div class="col-md-12 text-left" style="padding-top: 20px;padding-bottom: 20px;padding-left: 60px;text-align: left; color: white">
            <!--using crispy tag on forms for now-->

            {{ form|crispy }}<br>
            <h5>Upload Images(Bedroom,Bathroom,Kitchen):</h5><br>
            {{ imageform.management_form }}
            {% for field in imageform %}
                {{ field }}<br>
            {% endfor %}
            {{ formset.management_form }}
            {{ formset.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{% endblock %}
{% block content %}
{% endblock %}

