{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>Rent Form</title>

</head>
{% block form %}
        <form method="post" enctype="multipart/form-data" style="text-align: center" class="uniForm" id="post_form" action="" >
            {% csrf_token %}
            <div class="col-md-12 text-left" style="padding: 60px;text-align: left; color: white">
            <!--using crispy tag on forms for now-->

            {% crispy form %}<br>
            <h5>Upload Images:</h5><br>
            {{ imageform.management_form }}
            {% for field in imageform %}
                {% if forloop.counter == 1 %}
                    <h6>Bedroom:</h6>
                {% endif %}
                {% if forloop.counter == 2 %}
                    <h6>Kitchen:</h6>
                {% endif %}
                {% if forloop.counter == 3 %}
                    <h6>Bathroom:</h6>
                {% endif %}
                {% for subform in field %}
                    {{ subform }}<br>
                {% endfor %}
            {% endfor %}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
{% endblock %}
{% block content %}
{% endblock %}

