{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% block subtitle %}{% endblock %} {% endblock %}
{% load static %}
{% block stylesheet %}     
    <link rel="stylesheet" href="{% static 'assets/css/Home/new_style.css' %}">
    <style type="text/css">
      html{
        scroll-behavior: smooth;
      }

      html,body {
        height: 100%;
        background-color: #EEECEF;
        margin:0px;
        overflow-x: hidden;
      }
    </style>
{% endblock %}


{% block body %}
<div class="home-image">
    <img class="shop-image" src="{% static 'images/home.png' %}">
    <div class="shop-detail">
        Why go out when you can order from your local store?
    </div>
    <button class="shop-button"> 
        <a href="{% url 'shops' %}" style="color: white; text-decoration: none;">Browse shops</a> 
    </button>
</div>
<div class="home-room">
    <div class="home-room-title">
        Solan people,
    </div>
    <div class="home-room-subhead">
        we've renting services available for you!
    </div>
    <div class="row room-button-div">
        <div class="col-xs-12 col-md-4 col-sm-12">
            <button class="room-button">
                <a href="{% url 'all_rooms' %}" style="color: white; text-decoration: none;">Find rooms</a>
            </button>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-12">
            <button class="room-button">
                <a href="{% url 'all_pgs' %}" style="color: white; text-decoration: none;">Find PGs</a>
            </button>
        </div>
        <div class="col-xs-12 col-md-4 col-sm-12">
            <button class="room-button">
                <a href="{% url 'RentType'%}" style="color: white; text-decoration: none;">Give on rent</a>
            </button>
        </div>
    </div>
</div>
{% endblock %}
