{% extends 'base.html' %}
{% load static %}
{% block stylesheet %} 
	<link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/fonts/simple-line-icons.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/Customizable-Carousel-swipe-enabled.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/MUSA_carousel-extended.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/MUSA_carousel-extended1.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/Pretty-Carousel-Fade--TouchSwipe.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/Detail/styles.css' %}">
{% endblock %}

{% block title %} Room Details {% endblock %}
{% load static %}
<body>
{% block body %}

<div>
	<div class="container">
		<div class="row justify-content-center" style="margin-top:39px;">
			<div class="col-md-6" style="padding-left:15px;max-width:468px;">
				<div class="carousel slide carousel-fade" data-ride="carousel" id="carousel1" style="width:auto;max-width:617px;max-height:617px;height:auto;">
					<div class="carousel-inner" role="listbox" style="max-width:617px;height:auto;max-height:617px;width:auto;min-width:auto;min-height:auto;">
						<!-- Not required 
						<div class="carousel-item active" style="max-width:617px;width:auto;height:auto;max-height:617px;min-width:4px;min-height:auto;"><img class="w-100 d-block" src="assets/img/img_003.jpg" alt="Slide Image">
							<div></div>
						</div> -->
						{% for img in rooms.imagespg_set.all %}
						<div	{% if images.id == img.id %} class="carousel-item active" style= "max-width: 468px;width: auto;height: auto;max-height: 468px;min-width: 4px;min-height: auto;margin-right: 0px;"
								{% else %} class="carousel-item" 
								{% endif %}><img class="w-100 d-block" src="{{img.image.url}}" alt="Slide Image" style="width: auto;height: auto;max-width: 468px;max-height: 468px;">
							<div></div>
						</div>
						{% endfor %}
						
					</div>
					<div><a class="carousel-control-prev" href="#carousel1" role="button" data-slide="prev"><i class="icon-arrow-left"></i><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel1" role="button" data-slide="next"><i class="icon-arrow-right"></i><span class="sr-only">Next</span></a></div>
					<ol
						class="carousel-indicators">
						<li data-target="#carousel1" data-slide-to="0" class="active"></li>
						<li data-target="#carousel1" data-slide-to="1"></li>
						<li data-target="#carousel1" data-slide-to="2"></li>
						</ol>
				</div>
			</div>
			<div class="col-auto col-md-6 d-block float-none" style="width:226px;padding-top:15px;max-width:242px;max-height:276.6;padding-right:0px;padding-left:0px;">
				<p style="width:235px;font-size:30px;">&nbsp;<strong>₹ {{ rooms.price }}</strong> /month<br></p>
				<p style="width:269px;font-size:22px;color:rgba(33,37,41,0.75);">&nbsp;&nbsp; &nbsp;<i class="fa fa-map-marker"></i>&nbsp; &nbsp; {{ rooms.locality }}</p>
				<p style="width:269px;font-size:22px;color:rgba(33,37,41,0.75);">&nbsp; &nbsp;<i class="fa fa-bed"></i>&nbsp; &nbsp;{{ rooms.number_of_rooms }} BHK</p>
				<p style="width:288px;font-size:22px;color:rgba(33,37,41,0.75);">&nbsp; &nbsp;<i class="fas fa-user-plus"></i>&nbsp; &nbsp;{{ rooms.occupants_per_room }} Occupants</p>
				{% if rooms.gender_preference == "Only Girls" %}
				<p style="width:269px;font-size:22px;color:rgba(33,37,41,0.75);">&nbsp; &nbsp;<i class="fa fa-female"></i>&nbsp; &nbsp;{{ rooms.gender_preference}}</p>
				{% elif rooms.gender_preference == "Only Boys" %}
				<p style="width:269px;font-size:22px;color:rgba(33,37,41,0.75);">&nbsp; &nbsp;<i class="fa fa-male"></i>&nbsp; &nbsp;{{ rooms.gender_preference }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>

<!-- Button to Open the Modal -->
<div class="row justify-content-center" style="margin-top:24px;">
	<div class="col-auto" data-toggle="modal" data-target="#myModal"><a class="btn btn-primary btn-lg d-block" role="button"  href="#" style="background-color:rgb(68,73,154);border-color: rgb(68,73,154)">Contact Seller</a></div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ seller.title }} {{ seller.name }}</h4><br>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Contact Number: {{ seller.mobile_no }}<br>
        E-Mail: {{ seller.email }}<br>
        Time for Contacting: {{ rooms.preferred_contact_time }}<br>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>



</div>



<div class="row justify-content-center" style="margin-top:24px;">
	<div class="col-auto" id="features">
		<p style="margin-bottom:-13px;background-color:#ffffff;color:rgba(33,37,41,0.62);width:92px;">&nbsp; &nbsp;Features &nbsp;&nbsp;</p>
	</div>
</div>
<div style="margin-top:30px;">
	<div class="container">
		<div class="row justify-content-center align-items-center align-content-center align-self-center"
		 style="width:auto;background-position:top;background-size:auto;background-repeat:no-repeat;
		 	margin-top:6px;height:auto;margin-right:0px;margin-left:0px;">
			<div class="col-md-6" style="margin-top:0px;width:371px;max-width:225px;height:134px;margin-right:0px;">

                {% if rooms.water_bill_included == 'yes' %}
				    <p style="font-size:19px;"><i class="fas fa-check"></i>&nbsp; &nbsp;Water Bill included</p>
				{% else %}
                    <p style="font-size:19px;color: rgba(33,37,41,0.4);"><i class="fa fa-times"></i>&nbsp; &nbsp;Water Bill Included</p>
                {% endif %}

                {% if rooms.electricity_bill_included == 'yes' %}
                    <p style="font-size:19px;width:244px;;padding-right:0px;"><i class="fa fa-plug"></i> &nbsp; Electricity Bill included</p>
				{% else %}
                    <p style="font-size:19px;width:244px;color:rgba(33,37,41,0.4);padding-right:0px;"><i class="fa fa-plug"></i> &nbsp; Electricity Bill Extra</p>
                {% endif %}

                {% if rooms.food_included == 'yes' %}
				    <p style="font-size:19px;"><i class="fas fa-check"></i>&nbsp;&nbsp;Food Included</p>
                {% else %}
                    <p style="font-size:19px;color:rgba(33,37,41,0.4)"><i class="fa fa-times"></i>&nbsp;&nbsp;Food Included</p>
                {% endif %}
			</div>

			<div class="col-md-6" style="margin-top:0px;width:346px;max-width:225px;height:134px;">

                {% if rooms.parking == 'yes' %}
                    <p style="font-size:19px;"><i class="fas fa-check"></i> &nbsp; Parking Available</p>
				{% else %}
                    <p style="font-size:19px;color:rgba(33,37,41,0.4)"><i class="fa fa-times"></i> &nbsp; Parking Available</p>
                {% endif %}

                {% if rooms.attached_bathroom == 'yes' %}
                    <p style="font-size:19px;width:221px;"><i class="fas fa-check"></i> &nbsp; Attached Bathroom</p>
				{% else %}
                    <p style="font-size:19px;width:221px;color:rgba(33,37,41,0.4)"><i class="fa fa-times"></i> &nbsp;Attached Bathroom</p>
                {% endif %}

                {% if rooms.drive_in == 'yes' %}
                    <p style="font-size:19px;"><i class="fas fa-check"></i> &nbsp; Drive-in </p>
                {% else %}
                    <p style="font-size:19px;color:rgba(33,37,41,0.4);"><i class="fa fa-times"></i> &nbsp; Drive-in </p>
                {% endif %}
			</div>
		</div>
		<div class="row justify-content-center" style="margin-top:24px;">
			<div class="col-auto" id="features" style="margin-top:-100px;"></div>
		</div>
	</div>
</div>
		
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12" style="width:930px;max-width:663px;">
                    <p class="text-center" style="color:rgb(127,127,127);">Following Informtaion is added by Owner.&nbsp;<br>{{ rooms.any_other }}<br><br></p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="{% static 'assets/js/Customizable-Carousel-swipe-enabled.js' %}"></script>
    <script src="{% static 'assets/js/Pretty-Carousel-Fade--TouchSwipe.js' %}"></script>
    <script src="{% static 'assets/js/MUSA_carousel-extended.js' %}"></script>
{% endblock %}

