*
{
    margin : 0;
    padding: 0;    
}

body

{
   
    font-family:sans-serif;
    
}



.major
{
    background-image: url('images/mountains.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background background-attachment: fixed;
    background-size: cover;
    background-color: #44499a;
}
#nav-bar
{
    position: sticky;   
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #44499a;
    top: 0.1;
    z-index: 10;
    
    padding-left: 20px;
    padding-right: 20px;
   
    
}



.navbar-nav li
{
    padding: 0 ;
}

.fa-user-circle-o
{
    color: white;
    font-size: 20px !important;
    margin-right: 2px;
}



.navbar
{
   
    padding: 0 !important;
    
    
}

.navbar li a
{
    font-weight: 400;
    float: right;
    color: #fff !important;
   
    text-align: left;
}
.navbar-toggler
{
    outline: none !important;
}
.fa-bars
{
    
    font-size: 15px !important;
    border: none !important;
    color: white;
    
}

/*------------------------------------Banner Section--------------------------------------------*/

#banner
{

 
    padding-bottom: 350px;
    padding-top: 200px;
}

.promo-title
{

    font-size: 37px;
    font-weight: 100;
    margin-top: 0 px;
    color: white;
   text-align: center;
}




.Adimage
{
    height: 300px;
    width: auto;
}


.findbutton
{
   height: 60px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutush
{
    font-weight: 300;
}
.contactush
{
    padding-top: 10px;
    font-weight: 300;
}

#lower
{
    padding-top: 50px;
    margin-left: 10px;
    
}

.button
{
    text-align: center;
}
#bottom
{
    margin-top: 10px;
    padding-left: 10px;
    
}