<div class="modal fade" id="myModal" tabindex="-1" role="dialog"   >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> {{ shop.name }}</h4><br><br>
          
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
        <h5>These are the locations where the delivery will be possible:</h5>
        <ul class="list-group">
        {% for location in deliverable_locations %}
            <li class="list-group-item">{{ location.location }}</li>
        {% endfor %}
        </ul>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div>
