<!-- The Modal -->
<div class="modal fade" id="myModal{{forloop.counter}}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          {% if grocery.off == True %}
            <h4 class="modal-title">{{ grocery.product }}- ₹{{ grocery.price }}<br>
            Savings Worth: ₹{{ grocery.savings }}</h4><br>
          {% else %}
            <h4 class="modal-title">{{ grocery.name }}- ₹{{ grocery.price }}
          {% endif %}<br>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <h5>OFF: {{ grocery.off }}<br></h5>
          <br>
          <h5>Savings: {{ grocery.savings }} </h5>
          <br>
          <h5>Free: {{ grocery.free }}</h5><br>
          <h5>Free_Product: {{ grocery.free_product }}</h5><br>
          <img class="img-fluid" 
            style="height:auto;width:auto;"
            src="{{grocery.images_set.first.image.url}}" > 

        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          {% comment %} <center><button class="btn btn-primary btn-sm border rounded product" 
            type="button" 
            data-p_id = "{{ grocery.name }}">
            Add to cart</button></center> {% endcomment %}
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
</div>
   