{% extends './base.html' %}
{% block title %} All Room Available {% endblock %}
<body>
{% load static %}
{% block stylesheet %} 
	<link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}">
	
    
    <link rel="stylesheet" href="{% static 'assets/css/Projects-Clean-1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Projects-Clean.css' %}">


{% endblock %}

{% load static %}
{% block body %}    
   
    <p class="text-center text-secondary" style="padding-bottom:10px;"> {{shops.count }} shops{% if shops.count > 1 %}s{% endif %} found </p>
    {% load crispy_forms_tags %} 
    
    <div class="projects-clean">
        
        <div class="container align-items-center align-content-center align-self-center">
        <form class="align-items-center" style="width: 15rem; margin:5%;" method="post" class="uniForm">
            {{ form|crispy}}
            {% csrf_token %}
        <button type="submit" class="btn btn-primary">Location</button>
        </form>
            <div class="row justify-content-center projects" 
            style="margin-left:0px;padding-bottom:0px;margin-right:0px;">
                {% for shop in shops %}<div class="card" style="width: 15rem; margin:5%;">
                        
                        {% if shop.image %}<img class="img-fluid"
                        style="height:auto;width:auto;"
                        src="{{shop.image.url}}"  >
                        {% else %}
                        <img class="img-fluid"
                        style="height:auto;width:auto;"
                        src="{% static '/assets/img/no-image.png'%}"  >
                        {% endif %}
                        <div class="card-body">
                            <h5 class="description" style="text-align: center; color:rgb(38,39,39);font-size:24px;"><strong>{{ shop.name }}</strong></h5>
                            {% if shop.mobile_no %}
                                <p class="description just" style="text-align: center;">&nbsp; &nbsp;{{shop.mobile_no}}</p>
                            {% else %}
                                <p class="description just" style="text-align: center;">&nbsp; &nbsp;</p>
                            {% endif %}
                            {% if shop.email != 'None' and shop.email %}
                                <p class="card-text"; style="text-align:center;">{{ shop.email }}</p>
                            {% else %}
                                <p class="card-text"; style="text-align:center;">&nbsp;         </p>
                            {% endif %}
                            {% if shop.location %}
                                <p class="card-text"; style="text-align:center;">{{ shop.location }}</p>
                            {% else %}
                                <p class="card-text"; style="text-align:center;">&nbsp;         </p>
                            {% endif %}
                           <center><button  class="btn btn-primary btn-lg border rounded product" type="button"><a href="/{{shop.name}}/{{shop.location.id}}" style="color: white;">View Shop</a></button></center>
                           </div>
                      </div>
                {% endfor %}

            </div>
            
        </div>
    </div>

{% endblock %}