.home-image{
	position: relative;
	height: 700px;
	object-fit: contain;
	background-color: #EEECEF;
}

.shop-image{	
	position: absolute;
	right: 0px;
}

.home-image > img{
	height: 700px;
}

.home-image > .shop-detail{
	position: absolute;
	top: 200px;
	left: 76px;
	height: 282px;
	width: 800px;
	text-align: left;
	color: #2D2A5E;
	opacity: 1;
	font: Bold 77px/94px Montserrat;
}

.shop-button{
	position: absolute;
	background-color: #2D2A5E;
	border-radius: 52px;
	opacity: 1;
	width: 400px;
	height: 90px;
	top:540px;
	left: 76px;
	color: white;
	font-size: 40px; 
}

@media only screen and (max-width: 1200px) {

  .shop-image{
  	opacity: 0.5;
  }

}

.home-room{
	position: relative;
	background-color: #EEECEF;
	height: 500px;
}

.home-room-title{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 500px;
	font: 77px/94px Montserrat;
	top:100px;
	color: #2D2A5E;
}

.home-room-subhead{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 1000px;
	top:200px;
	font: 50px/61px Montserrat;
	color: #2D2A5E;
	text-align: center;
}

.room-button-div{
	position: absolute;
	left: 53%;
	transform: translateX(-50%);
	width: 1000px;
	top: 300px;
}

.room-button{
	background-color: #2D2A5E;
	border-radius: 52px;
	opacity: 1;
	color: white;
	padding: 15px;
	font-size: 30px; 
}
@media only screen and (max-width: 800px) {

  .home-image{
  	height: 500px;
  }

  .home-image > img{
	height: 500px;
   }

  .home-image > .shop-detail{
  	left: 50%;
  	font: Bold 33px/40px Montserrat;
  	width: 80%;
  	transform: translateX(-50%);
  	text-align: center;
  	top: 170px;
  }

  .shop-button{
  	top: 350px;
  	left: 50%;
  	transform: translateX(-50%);
  	width: 50%;
  	font-size: 20px;
  }

  .home-room-title{
    top: 70px;
	width: 80%;
	font: 35px/43px Montserrat;
	color: #2D2A5E;
	text-align: center;
  }

.home-room-subhead{
	width: 80%;
	top:150px;
	font: 22px/27px Montserrat;
	color: #2D2A5E;
	text-align: center;
  }

  .room-button-div{
	position: absolute;
	left: 53%;
	transform: translateX(-50%);
	width: 70%;
	top: 220px;
	text-align: center;
  }

  .room-button{
	background-color: #2D2A5E;
	border-radius: 52px;
	opacity: 1;
	color: white;
	padding: 15px;
	margin: 15px;
	font-size: 20px; 
  }

}