* {
  font-family:'Raleway', sans-serif;
}

.col-auto {
}

#features {
  border-bottom-style:groove;
  margin-top:22px;
}

@media (min-width: 300px) {
  #features {
    border-bottom-style:groove;
    width:361px;
  }
}

@media (min-width: 1200px) {
  #features {
    border-bottom-style:groove;
    width:440px;
  }
}

@media (min-width: 992px) {
  #features {
    border-bottom-style:groove;
    width:440px;
  }
}

@media (min-width: 768px) {
  #features {
    border-bottom-style:groove;
    width:430px;
  }
}

@media (min-width: 576px) {
  #features {
    border-bottom-style:groove;
    width:429px;
  }
}

